* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
*.sh text eol=lf
*.py text eol=lf
*.sv text eol=lf
*.svh text eol=lf
*.gtkw text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
